version: '2'
services:
  app:
    build: .
    volumes:
      - .:/app:delegated
      - node_modules:/app/node_modules
    working_dir: /app
    command: gatsby develop --port 8000 --host 0.0.0.0
    ports:
      - 8000:8000
volumes:
  node_modules:
