@import 'vars';

@import "~spectre.css/src/mixins";

// make all btns large size
.btn {
  font-size: 0.9rem;
  height: 2.3rem;
  padding: 0.6rem;
  min-width: 100px;

  &.btn-link {
    &:hover, &:focus {
      text-decoration: underline;
    }
  }



}

.btn.btn-default {
  border-color: $third-color;
  color: $third-color;

  &:hover, &:focus, &:active, &.active {
    background-color: $third-color;
    border-color: $third-color;
    color: #fff;
  }

  &:focus {
    box-shadow: 0 0 0 0.1rem rgba(3, 77, 166, 0.2);
  }




}


.btn.btn-secondary {
  @include button-variant($secondary-color);
}

.btn.btn-steps {
  @include button-variant($third-color);
}

.btn-block {
  max-width: 200px;
}

.btn-centered {
  margin: 0 auto;
}

.btn + .btn {
  margin-left: 32px;
  margin-bottom: 16px;
  vertical-align: top;
}
