@import 'vars';

@import "~spectre.css/src/mixins";

// make all btns large size
.btn {

  min-width: 100px;

  &:not(.btn-normal) {
    font-size: 0.9rem;
    height: 2.3rem;
    padding: 0.6rem;
  }

  &.btn-link {
    &:hover, &:focus {
      text-decoration: underline;
      outline: none;
      box-shadow: none;
    }
  }

  &.disabled {
    background-color: $gray-color-dark;
    border-color: $gray-color-dark;
  }

}

.btn.btn-default {
  border-color: $third-color;
  border-width: 2px;
  color: $third-color;

  &:hover, &:focus, &:active, &.active {
    background-color: $third-color;
    border-color: $third-color;
    color: #fff;
  }

  &:focus {
    box-shadow: 0 0 0 0.1rem rgba(3, 77, 166, 0.2);
  }




}


.btn.btn-secondary {
  @include button-variant($secondary-color);
}

.btn.btn-steps {
  @include button-variant($third-color);
}

.btn-block {
  max-width: 200px;
}

.btn-centered {
  margin: 0 auto;
}

.btn + .btn {
  margin-left: 32px;
  margin-bottom: 16px;
  vertical-align: top;
}

.icon-mail:before {
  border-radius: 0.1rem;
}
