@import 'vars';


.btn.btn-secondary {
  background: $secondary-color;
  border-color: $secondary-color-dark;
  color: $light-color;
  &:focus,
  &:hover {
    background: darken($secondary-color-dark, 2%);
    border-color: darken($secondary-color-dark, 5%);
    color: $light-color;
  }
  &:active,
  &.active {
    background: darken($secondary-color-dark, 4%);
    border-color: darken($secondary-color-dark, 7%);
    color: $light-color;
  }
  &.loading {
    &::after {
      border-bottom-color: $light-color;
      border-left-color: $light-color;
    }
  }
}

.btn-block {
  max-width: 250px;
}

.btn-centered {
  margin: 0 auto;
}
