@import "vars";

@import "~spectre.css/src/mixins";

// make all btns large size
.btn {
  min-width: 100px;
  border-radius: 2rem;

  &:not(.btn-normal):not(.btn-sm) {
    font-size: 0.9rem;
    height: 2.3rem;
    padding: 0.6rem;
  }

  &.btn-link {
    color: $JFCL_SECONDARY_BLUE;
    text-decoration: underline;
    outline: none;
    box-shadow: none;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &.disabled {
    background-color: $gray-color-dark;
    border-color: $gray-color-dark;
  }
}

.btn.btn-default {
  border-color: $OFF_BLACK;
  border-width: 2px;
  color: $OFF_BLACK;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $NEW_BLUE;
    border-color: $OFF_BLACK;
    color: $OFF_BLACK;
  }
  &:focus {
    box-shadow: 0 0 0 0.1rem $JFCL_SECONDARY_BLUE;
  }
}

.btn.btn-primary {
  background: unset;
  background-color: $OFF_BLACK;
  border: none;
  color: $WHITE !important;
  &:hover {
    background-color: $GREY_700;
  }
  &:active {
    background-color: $GREY_600;
  }
  &:focus {
    box-shadow: 0 0 0 0.1rem $JFCL_SECONDARY_BLUE;
    background-color: $GREY_700 !important;
  }
}

.btn.btn-secondary {
  @include button-variant($secondary-color);
}

.btn.btn-steps {
  @include button-variant($OFF_BLACK);
}

.btn-block {
  max-width: 200px;
}

.btn-centered {
  margin: 0 auto;
}

.btn-success {
  color: white !important;
}

.btn + .btn {
  margin-left: 32px;
  margin-bottom: 16px;
  vertical-align: top;
}

.icon-mail:before {
  border-radius: 0.1rem;
}
