@import "vars";

@media print {

  @page {
    margin: 2cm;
  }

  body {



    h1, h2, h3, h4, h5, h6 {
      color: #000 !important;
    }

    h1, h2, h3, h4, h5, h6 {
      page-break-after:avoid;
      page-break-inside:avoid
    }

    img {
      page-break-inside:avoid;
      page-break-after:avoid;
    }

    blockquote, table, pre {
      page-break-inside:avoid
    }

    ul, ol, dl {
      page-break-before:avoid
    }

    .accordion__item {
      page-break-inside:avoid;
      page-break-after:avoid;
    }

    .HousingCourtPage > div:not(.Accordion) {
      page-break-inside:avoid;
      page-break-after:avoid;
    }

    .accordion__body {
      display: block !important;
      opacity: 1.0 !important;
      animation: none !important;
    }

    .navbar-brand {
      display: inline-block;
      margin: 0 auto;
      color: #000;
    }

    .btn {
      color: #000 !important;
    }

    .Footer {
      color: #000 !important;

      & a {
        color: #000 !important;
      }
    }

    .navbar-btns-social,
    .SaveToPhone,
    .GetInvolved,
    .SelectLanguage {
      display: none !important;
    }

    .ProvidersCarousel {

      .pagination {
        display: none !important;
      }

      .carousel__slider {

        margin-top: 24px;

        ul {
          width: 100% !important;

          li {
            width: 50% !important;
            float: none !important;
            display: inline-block;
            margin-bottom: 24px;
          }
        }
      }
    }

  }


}
