@import "vars";

ul.list-inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0;

    &:not(:last-child)::after {
      content: ' | ';
      margin-right: 5px;
    }
  }
}

.text-aside {
  color: lighten($dark-color, 35%);
}
