.Accordion {

  .accordion__item {

    padding: 16px 0;

    h5 {
      margin-bottom: 0;
      max-width: 80%;
    }

    .accordion__body {
      margin-top: 8px;
    }

    .icon-minus {
      display: none;
    }

    [role='tab']:focus {
      outline: none;
    }
    [role='tab']:hover {
      cursor: pointer;

      h5 {
        text-decoration: underline;
      }      
    }

    [aria-selected='true'] {
      .icon-plus {
        display: none;
      }
      .icon-minus {
        display: block;
      }
    }
  }
}
