@import 'vars';


.Footer {

  background: $secondary-color;
  color: #fff;
  padding: 48px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;


    span {
      max-width: 400px;
    }

    img {
      max-width: 72px;
      margin-right: 32px;
    }

    a, a:hover {
      color: #fff;
      text-decoration: underline;
    }

    // img, span {
    //   display: inline-block;
    //   vertical-align: middle;
    // }

  .Footer_JustFix {

    text-align: right;

    img {
      max-width: 125px;
      position: relative;
      top: 8px;
      margin-left: 4px;
      margin-right: 0;
    }

  }

  .SelectLanguage {
    ul {
      text-align: right;

      .btn {
        text-decoration: none;
        color: #fff;
        margin-bottom: 8px;
      }
      .btn-default {
        background: transparent;
      }

      // li a.selected {
      //   text-decoration: none;
      // }
    }
  }

  @include for-phone-only() {
    display: block;
    text-align: center;

    img {
      max-width: 100px;
      display: block;
      margin: 0 auto 16px auto;
    }

    div {
      margin-top: 16px;
    }

    .SelectLanguage {
      ul {
        text-align: center;
        margin-bottom: 16px;
      }
    }

    .Footer_JustFix {

      text-align: center;

      img {
        max-width: 125px;
        position: relative;
        top: 8px;
        margin: 0 auto;
      }

    }
  }

}
