@import "vars";

.GetInvolved {
  width: 100%;
  padding-top: 32px;
  // @include gray-lines-bg;
  background-color: $bg-color-dark;
  border-top: 1px solid $gray-color-light;

  h3 {
    margin-bottom: 0.8em;
  }

  padding-bottom: 24px;

  @include for-tablet-landscape-up() {
    padding-bottom: 0;
  }

  .column:not(:first-child) {
    margin-bottom: 16px;

    @include for-tablet-landscape-up() {
      margin-bottom: 36px;
    }
  }

  .btns-social {
    .btn {
      &:nth-child(1) {
        background-color: #3b5998;
        &:hover {
          background-color: darken(#3b5998, 5%);
        }
      }
      &:nth-child(2) {
        background-color: #000000;
        &:hover {
          background-color: lighten(#000000, 5%);
        }
      }

      margin-bottom: 0;

      span {
        display: none;

        @include for-tablet-landscape-up() {
          display: inline;
        }
      }
    }
  }

  .form-input {
    height: 2.3rem;
    border-color: $gray-color-dark;
  }
  .form-label {
    font-weight: bold;
  }

  .btn-block {
    max-width: none;
  }
}
