@import 'vars';

.Header {

  padding: 16px 32px;
  border-bottom: 1px solid $gray-color-dark;
  background: $secondary-color;
  color: #fff;

  @include for-phone-only() {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  a {
    color: #fff;

    &:hover, &:focus {
      color: #fff;
    }
  }

  .navbar-brand {
    font-weight: 300;
  }
}
