@import "vars";

.HousingCourtPage {
  // margin: 32px auto;

  @include for-tablet-portrait-up() {
    margin-top: 64px;
  }

  .HousingCourtPage_Header {
    h2 {
      // margin-top: 40px;
      margin-bottom: 42px;
      font-size: 1.3rem;

      @include for-tablet-portrait-up() {
        width: 40vw;
        font-size: 1.6rem;
      }
      @include for-desktop-up() {
        width: 35vw;
      }
    }

    .btn {
      @include for-phone-only() {
        display: none;
      }
    }
  }

  h6 {
    // background-color: $third-color;
    // color: #fff;
    padding: 12px 0;
    text-transform: uppercase;
    color: $third-color;
    font-weight: bold;

    border-bottom: 2px solid $third-color;
  }

  .Accordion {
    margin-bottom: 32px;

    .Accordion__title {
      h5 {
        text-decoration: underline;

        &:hover,
          &:focus {
            text-decoration: none;
          }
      }
    }

    .embedly-card {
      max-width: 350px;
      // margin: 0 auto;
    }

    .accordion__body:not(.accordion__body--groups) {
      @include for-tablet-portrait-up() {
        width: 80%;
        margin-left: 32px;
        // margin: 0 auto;
      }
    }
  }
}
