@import 'vars';

.LandingPage {

  margin-top: 0;

  .LandingPage__Hero {
    padding: 0.75rem 0;
    background: $secondary-color;
    color: #fff;

    // margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    .LandingPage__HeroContent {

      margin-bottom: 0.5rem;

      h2, h4 {
        font-weight: 200;
        letter-spacing: 1px;

        @include for-tablet-landscape-up() {
          max-width: 75%;
        }
      }

      .LandingPage__WarningBanner {
        p {
          margin: 0;
        }
      }

      .LandingPage__HeroTitle {

        margin: 1rem 0;
        font-size: 2.1rem;

        @include for-phone-only() {
          margin-bottom: 0.8rem;
          font-size: 1.25rem;
        }
      }

      .LandingPage__HeroSubtitle {

        margin-bottom: 1.5rem;

        @include for-phone-only() {
          margin-bottom: 0.8rem;
          font-size: 0.8rem;
        }
      }

      .btn {
        margin: 16px auto;

        &.btn-default {
          color: #fff;
          border-color: #fff;
          background-color: transparent;

          &:hover {
            color: $secondary-color;
            background-color: #fff;
          }

          // language buttons on mobile
          @include for-phone-only() {
            font-size: 0.8rem;
            padding: .4em;
            height: 1.9rem;
            width: 40%;
            display: inline-block;
            margin: 8px;
          }
        }
      }

      .LandingPage__LangSwitches {

        @include for-tablet-portrait-up() {
          display: flex;
          .btn + .btn {
            margin-left: 16px;
          }
        }
      }

      @include for-tablet-portrait-up() {
        max-width: 80%;
      }

      @include for-tablet-landscape-up() {

        // copied from grid-md
        max-width: 932px;
        position: static;

        .btn {
          margin: 16px 0;
        }

      }
    }

    @include for-tablet-landscape-up() {
      justify-content: flex-start;
      text-align: left;
      padding: 2.5rem 0 1rem 0;
    }

    .LandingPage__HeroLearnMore {
      text-align: center;
      font-weight: normal;
      line-height: 1.2;
      margin-top: 1rem;

      @include for-tablet-portrait-up() {
        display: none;
      }

    }
  }

  .LandingPage__Content {

    margin-top: 64px;
    min-height: 600px;
    margin-bottom: 64px;
    position: relative;


    .LandingPage__ContentFAQ {
      order: 2;
    }
    .LandingPage__ContentImage1 {
      order: 1;
    }
    .LandingPage__ContentImage2 {
      order: 2;

      // hack alert
      position: absolute;
      right: 0;
      top: 300px;
    }

    @include for-phone-only() {
      padding: 0;
      margin-top: 0;

      .columns {
        margin-left: 0;
        margin-right: 0;
      }

      .column {
        padding-left: 0;
        padding-right: 0;
      }

      .LandingPage__ContentFAQ {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 32px;
        margin-bottom: 32px;
      }
      .LandingPage__ContentImage2 {
        position: inherit;
      }


    }

    @include for-tablet-portrait-up() {
      .LandingPage__ContentFAQ {
        order: 1;
      }
      .LandingPage__ContentImage1 {
        order: 2;
        margin-bottom: 32px;
      }
    }


  }
}
