@import "vars";

.LandingPage {
  margin-top: 0;
  margin-bottom: 0;
  // Fix issue with content extending beyond page horizontally
  overflow-x: hidden;

  .LandingPage__Hero {
    padding: 0.75rem 0;
    &.bg-secondary {
      background: $secondary-color;
      color: #fff;
    }

    // margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    .LandingPage__HeroContent {
      margin-bottom: 0.5rem;

      h2,
      h4,
      p {
        font-weight: 200;
        letter-spacing: 1px;

        @include for-tablet-landscape-up() {
          max-width: 90%;
        }
      }

      .LandingPage__WarningBanner {
        p {
          margin: 0;
        }
      }

      .LandingPage__HeroTitle {
        margin: 1rem 0;
        font-size: 2.1rem;

        @include for-phone-only() {
          margin-bottom: 0.8rem;
          font-size: 1.25rem;
        }
      }

      .LandingPage__HeroSubtitle {
        margin: 2rem 0;

        @include for-phone-only() {
          margin-bottom: 0.8rem;
          font-size: 0.8rem;
        }

        ol {
          margin-left: 0;
          list-style-type: none;
          list-style-position: outside;
          li {
            border: 1px solid #50596c66;
            padding: 1rem;
            margin: 1rem 0;
            counter-increment: step-counter;
            line-height: 1.5rem;
            &::before {
              content: counter(step-counter);
              color: white;
              background-color: $secondary-color;
              font-weight: bold;
              padding: 3px 7px;
              border: 1px solid $secondary-color;
              border-radius: 100%;
              margin-right: 0.5rem;
            }
            a {
              color: $secondary-color;
              text-decoration: underline;
              font-weight: 400;
            }
            p:first-child {
              display: inline;
            }
            p:not(:first-child) {
              margin: 0.5rem 0 1rem 1rem;
            }
          }
        }
      }

      .btn {
        margin: 16px auto;
        font-size: 0.8rem;

        &.btn-link {
          text-decoration: none;
        }

        &.btn-primary {
          height: fit-content;
          white-space: normal;
          padding: 1rem;
          margin: 1.5rem 0;
          font-size: 1rem;
          max-width: fit-content;
        }

        &.btn-default {
          color: #fff;
          border-color: #fff;
          background-color: transparent;

          &:hover {
            color: $secondary-color;
            background-color: #fff;
          }

          // language buttons on mobile
          @include for-phone-only() {
            font-size: 0.8rem;
            padding: 0.4em;
            height: 1.9rem;
            width: 40%;
            display: inline-block;
            margin: 8px;
          }
        }
      }

      .LandingPage__LangSwitches {
        @include for-tablet-portrait-up() {
          display: flex;
          .btn + .btn {
            margin-left: 16px;
          }
        }
      }

      @include for-tablet-portrait-up() {
        max-width: 80%;
      }

      @include for-tablet-landscape-up() {
        // copied from grid-md
        max-width: 932px;
        position: static;

        .btn {
          margin: 16px 0;
        }
      }
    }

    justify-content: flex-start;
    text-align: left;
    padding: 2.5rem 0 1rem 0;

    .LandingPage__HeroLearnMore {
      text-align: center;
      font-weight: normal;
      line-height: 1.2;
      margin-top: 1rem;

      @include for-tablet-portrait-up() {
        display: none;
      }
    }
  }

  .LandingPage__Content {
    margin-top: 64px;
    min-height: 600px;
    margin-bottom: 64px;
    position: relative;

    .LandingPage__ContentFAQ {
      order: 2;
    }
    .LandingPage__ContentImage1 {
      order: 1;
    }
    .LandingPage__ContentImage2 {
      order: 2;

      // hack alert
      position: absolute;
      right: 0;
      top: 300px;
    }

    @include for-phone-only() {
      padding: 0;
      margin-top: 0;

      .columns {
        margin-left: 0;
        margin-right: 0;
      }

      .column {
        padding-left: 0;
        padding-right: 0;
      }

      .LandingPage__ContentFAQ {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 32px;
        margin-bottom: 32px;
      }
      .LandingPage__ContentImage2 {
        position: inherit;
      }
    }

    @include for-tablet-portrait-up() {
      .LandingPage__ContentFAQ {
        order: 1;
      }
      .LandingPage__ContentImage1 {
        order: 2;
        margin-bottom: 32px;
      }
    }
  }
}
