@import 'vars';
@import 'util';
@import 'print';


@import "~spectre.css/src/spectre-icons";
@import "~spectre.css/src/spectre";

@import 'button';

// * {
//   box-sizing: border-box;
// }

main {
  min-height: 70vh;
}

.Page {
  margin: 32px auto 104px auto;
  min-height: 70vh;

  & > h2 {
    margin-bottom: 32px;
  }

  .embedly-card {
    max-width: 350px;
    // margin: 0 auto;
  }
}
