@import 'vars';

.ReactModal__Body--open {
  .modal {
    display: block;
    opacity: 1;
    z-index: 400;
  }
}

.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  overflow: auto;
  // -webkit-overflow-scrolling: touch;
  outline: none;
  min-width: 300px;
  padding: 0.8rem;

  position: relative;
  top: -15vh;
}
