@import 'vars';

.ScreenerPage {

  max-width: 90vw;
  margin: 32px auto;

  @include for-tablet-portrait-up() {
    max-width: 50vw;
  }

  @include for-desktop-up() {
    max-width: 40vw;
  }

  & > div {
    text-align: center;
  }

  .step {
    margin-bottom: 32px;
  }

  h4 {
    display: inline-block;
    position: relative;
    padding-left: 42px;
    margin-bottom: 24px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 34px;
      height: 34px;
      top: 0px;
      left: 0;
    }
  }

  p {
  }

  .ScreenerPage__Intro {

    img {
      display: block;
      width: 20%;
      max-width: 100px;
      margin: 0 auto 32px auto;
    }

    h4 {
      padding-left: 0;
    }

    .btn {
      margin: 32px auto;
    }

    ul {
      text-align: left;
      font-size: 1rem;
      list-style: none;
      margin: 0;
      display: inline-block;

      li {
        position: relative;
        padding-left: 48px;
        line-height: 32px;


        margin: 16px 0;

        @include for-desktop-up() {
          margin: 32px 0;
        }
      }

      li:before {
        content: '';
        display: block;
        position: absolute;
        width: 32px;
        height: 32px;
        top: 2px;
        left: 0;
      }

      li:nth-child(1) {
        &:before {
          background: url('../assets/img/location.svg') no-repeat;
          background-size: 100%;
        }
      }
      li:nth-child(2) {
        &:before {
          background: url('../assets/img/income.svg') no-repeat;
          background-size: 28px;
        }
      }
      li:nth-child(3) {
        &:before {
          background: url('../assets/img/document.svg') no-repeat;
          background-size: 100%;
        }
      }
    }
  }


  .ScreenerPage__Location {

    h4:before {
      background: url('../assets/img/location.svg') no-repeat;
      background-size: 100%;
    }
  }

  .ScreenerPage__Income {

    h4:before {
      background: url('../assets/img/income.svg') no-repeat;
      background-size: 100%;
    }
  }

  .ScreenerPage__Case {

    h4:before {
      background: url('../assets/img/document.svg') no-repeat;
      background-size: 100%;
    }

    .accordion {
      margin: 16px 0;
    }
  }
}
