@import "vars";

.ScreenerPage {
  max-width: 90vw;

  @include for-tablet-portrait-up() {
    max-width: 40vw;
  }

  @include for-desktop-up() {
    max-width: 58vw;
  }

  & > div {
    text-align: center;
  }

  .step {
    margin-bottom: 32px;

    .step-item {
      color: #50596c;
    }
  }

  h4 {
    display: inline-block;
    position: relative;
    padding-left: 42px;
    margin-bottom: 24px;

    @include for-tablet-portrait-up() {
      margin-bottom: 16px;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 34px;
      height: 34px;
      top: 0px;
      left: 0;
    }
  }

  p {
  }

  .ScreenerPage__Intro {
    img {
      display: block;
      width: 20%;
      max-width: 100px;
      margin: 0 auto 32px auto;
    }

    h4 {
      padding-left: 0;
    }

    .btn {
      margin: 32px auto;
    }

    ul {
      text-align: left;
      font-size: 1rem;
      list-style: none;
      margin: 0;
      display: inline-block;

      li {
        position: relative;
        padding-left: 48px;
        line-height: 32px;
        font-weight: 600;

        margin: 16px 0;

        @include for-desktop-up() {
          margin: 32px 0;
          &:first-child {
            margin-top: 16px;
          }
        }
      }

      li:before {
        content: "";
        display: block;
        position: absolute;
        width: 32px;
        height: 32px;
        top: 2px;
        left: 0;
      }

      li:nth-child(1) {
        &:before {
          background: url("../assets/img/location.svg") no-repeat;
          background-size: 100%;
        }
      }
      li:nth-child(2) {
        &:before {
          background: url("../assets/img/document.svg") no-repeat;
          background-size: 100%;
        }
      }
    }
  }

  .ScreenerPage__Location {
    h4:before {
      background: url("../assets/img/location.svg") no-repeat;
      background-size: 100%;
    }

    .geosuggest input {
      height: 2.3rem;
    }

    .Select {
      text-align: left;
      font-size: 0.85rem;

      .Select-input {
        height: 44px;
        // padding-top: 0.45rem;
        // padding-bottom: 0.45rem;

        input {
          line-height: 26px;
        }
      }

      .Select-placeholder {
        line-height: 46px;
      }
    }

    .btn-steps {
      margin-top: 32px;
      margin-left: auto;
    }
  }

  .ScreenerPage__Income {
    h4:before {
      background: url("../assets/img/income.svg") no-repeat;
      background-size: 100%;
    }

    // ul.ScreenerPage__IncomeList {
    //   list-style: none;
    //   text-align: left;
    //   display: inline-block;
    //   margin-top: 0;
    //
    //   li {
    //     position: relative;
    //     padding-left: 40px;
    //     padding-top: 2px;
    //     // line-height: 32px;
    //
    //
    //     margin: 16px 0;
    //
    //     &:before {
    //       content: '';
    //       display: block;
    //       position: absolute;
    //       width: 28px;
    //       height: 28px;
    //       top: 2px;
    //       left: 0;
    //     }
    //
    //     &:nth-child(1):before {
    //       background: url('../assets/img/individual.svg') no-repeat;
    //       background-size: 100%;
    //     }
    //     &:nth-child(2):before {
    //       background: url('../assets/img/family.svg') no-repeat;
    //       background-size: 100%;
    //     }
    //   }
    // }

    table {
      margin-bottom: 1.5rem;
    }
  }

  .ScreenerPage__Case {
    h4:before {
      background: url("../assets/img/document.svg") no-repeat;
      background-size: 100%;
    }

    .ScreenerPage__CaseButtons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .btn {
        margin-bottom: 16px;
        margin-left: 16px;
        margin-right: 16px;

        @include for-tablet-portrait-up() {
          // width: 150px;
        }
      }
    }

    .accordion {
      margin: 0 0 16px 0;

      .accordion__item {
        .accordion-title-text {
          text-decoration: underline;
          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
        .clearfix {
          display: flex;

          .icon {
            float: inline-start;
            margin-left: -2.5rem;
          }
        }
      }

      .accordion__body {
        ul {
          list-style: none;

          li {
            position: relative;
            padding-left: 36px;
            padding-top: 2px;
            text-align: left;

            margin: 16px 0;

            &:before {
              content: "";
              background: url("../assets/img/attachments.svg") no-repeat;
              background-size: 100%;
              display: block;
              position: absolute;
              width: 24px;
              height: 24px;
              top: 2px;
              left: 0;
            }
          }
        }
      }
    }
  }
}
